apiVersion: apps/v1
kind: Deployment
metadata:
  name: gestion-produits
  namespace: gestion-produits
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gestion-produits
  template:
    metadata:
      labels:
        app: gestion-produits
    spec:
      containers:
        - name: app
          image: seifeddine77/souqtech-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: MYSQL_HOST
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: MYSQL_DATABASE
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://$(MYSQL_HOST):3306/$(MYSQL_DATABASE)
            - name: SPRING_DATASOURCE_USERNAME
              value: $(MYSQL_USER)
            - name: SPRING_DATASOURCE_PASSWORD
              value: $(MYSQL_PASSWORD)
            - name: JWT_SECRET
              value: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 60
            periodSeconds: 15
